.container{
  background-color: rgb(239, 56, 59);
  width: fit-content;
  height: auto;
  padding: 10px;
 margin-top: 200px;
  margin-left: 600px;



}
button{
  background-color: black;
  color: beige;
  border-radius:10px;
  padding: 10px;
  margin-top: 5px;
  margin-left: 50px;
}